# 股票交易数据分析

In [1]:
%pwd

u'/Users/kamidox/work/stock-data'

In [2]:
import pandas as pd
import numpy as np

## 原始数据: 2000 年 - 2009 年 5 分钟历史成交数据

需要确保原始数据放在 raw 目录下，且每个年份单独一个目录。搜索 ghancn 可以免费下载 2009 年之前的数据。2009 年之后的需要购买。

目前的免费数据质量不高，里面有不少错误。具体参阅 README.md。

In [3]:
%ls raw

2000/ 2001/ 2002/ 2003/ 2004/ 2005/ 2006/ 2007/ 2008/

In [224]:
names = ['date',
         'time',
         'opening_price',
         'ceiling_price',
         'floor_price',
         'closing_price',
         'volume',
         'amount']
# 读取数据时，我们以日期为索引，并解析成日期格式
raw = pd.read_csv('raw/2008/SH600690.csv', names=names, header=None, index_col='date', parse_dates=True)
raw.head()

,time,opening_price,ceiling_price,floor_price,closing_price,volume,amount
date,,,,,,,
2008-01-02,09:35,22.50,22.63,22.50,22.51,2042.50,4604723
2008-01-02,09:40,22.51,22.51,22.29,22.37,1545.17,3460503
2008-01-02,09:45,22.39,22.62,22.38,22.62,1744.76,3921443
2008-01-02,09:50,22.60,23.00,22.60,22.95,5339.00,12225939
2008-01-02,09:55,22.98,23.20,22.89,23.20,12577.73,28947824

### 转化为日交易数据

In [225]:
# 股票涨跌幅检查，不能超过 10% ，过滤掉一些不合法的数据
def _valid_price(g):
    return (((g.max() - g.min()) / g.min()) < 0.223).all()

# 按照日期分组
days = raw.groupby(level=0).agg(
    {'opening_price': lambda g: _valid_price(g) and g[0] or 0,
     'ceiling_price': lambda g: _valid_price(g) and np.max(g) or 0,
     'floor_price': lambda g: _valid_price(g) and np.min(g) or 0,
     'closing_price': lambda g: _valid_price(g) and g[-1] or 0,
     'volume': 'sum',
     'amount': 'sum'})
days.head()

,floor_price,opening_price,ceiling_price,volume,amount,closing_price
date,,,,,,
2008-01-02,22.29,22.50,24.50,200809.34,476179680,24.03
2008-01-03,23.81,24.03,25.20,166037.98,406906304,24.54
2008-01-04,23.68,24.53,24.76,149078.64,358418560,24.17
2008-01-07,23.75,24.03,24.75,93950.43,227289136,24.38
2008-01-08,23.49,24.38,24.38,149056.24,355752416,23.53

### 合并数据

可以参阅 stock.py 里的 `main()` 函数。把所有的数据转化为日交易数据，然后以股票代号为文件名保存在 `data` 目录下。

## 选股

什么股票是好股票？要回答这个问题，先要把最简单的问题说清楚。炒股就是低买高卖，实现获利。那么好股票的标准就是在你的持股周期内，**波动最大的股票**。这很好理解吧，波动最大，我们才有可能在相对低点买入，在相对高点卖出，获利最大。

在一定的时间周期内，**衡量股票波动的指标定义为 最高价/最低价**。以我们表格中的数据，就是 ceiling_price/floor_price。这个比率最大的股票就是好股票。

关于时间周期，这个和炒股策略有关。有些人喜欢做短线，可能就持股几天，或一两周。有些人习惯做长线，可能持股几个月甚至几年。

有了这个思路，我们就可以玩转已经转换为日交易数据的股票，选出近期波动最大的股票。假设我们的目标是**选出一个月内波动最大的股票**。我们看一下如何用 pandas 实现这个目标。

### 过滤数据

我们先要按照考查周期来过滤数据。为了简单起见，我们假设一个月是20个交易日，且只计算交易时间，不计算停牌时间。

这里，我们直接使用青岛海尔 600690 这个股票来作为示例。我们直接读取已经合并过的数据。

In [6]:
qdhr = pd.read_csv('data/SH600690.csv')
qdhr.head()

,date,floor_price,opening_price,ceiling_price,volume,amount,closing_price
0,2000/01/04,16.21,16.31,17.30,17050,28651788,17.08
1,2000/01/05,16.71,17.10,17.39,17486,29893382,16.75
2,2000/01/06,16.62,16.72,18.45,41268,74191124,18.45
3,2000/01/07,18.45,18.45,20.30,187321,379826144,20.30
4,2000/01/10,20.30,20.30,22.33,317307,695940608,21.65

In [7]:
len(qdhr)

2111

In [8]:
import numpy as np

# 定义产生分组索引的函数，比如我们要计算的周期是 20 天，则按照日期，20 个交易日一组
def gen_item_group_index(total, group_len):
    """ generate an item group index array 
    
    suppose total = 10, unitlen = 2, then we will return array [0 0 1 1 2 2 3 3 4 4]
    """
    
    group_count = total / group_len
    group_index = np.arange(total)
    for i in range(group_count):
        group_index[i * group_len: (i + 1) * group_len] = i
    group_index[(i + 1) * group_len : total] = i + 1
    return group_index.tolist()

gen_item_group_index(10, 3)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3]

In [9]:
group_len = 20

group_index = gen_item_group_index(len(qdhr), group_len)
# 把分组索引数据添加到股票数据里
qdhr['group_index'] = group_index
qdhr

,date,floor_price,opening_price,ceiling_price,volume,amount,closing_price,group_index
0,2000/01/04,16.21,16.31,17.30,17050.00,28651788,17.08,0
1,2000/01/05,16.71,17.10,17.39,17486.00,29893382,16.75,0
2,2000/01/06,16.62,16.72,18.45,41268.00,74191124,18.45,0
3,2000/01/07,18.45,18.45,20.30,187321.00,379826144,20.30,0
4,2000/01/10,20.30,20.30,22.33,317307.00,695940608,21.65,0
5,2000/01/11,20.18,21.70,21.70,108273.00,225728608,20.36,0
6,2000/01/12,19.52,20.20,20.66,120790.00,241688948,19.77,0
7,2000/01/13,18.66,19.80,19.99,63430.00,122255604,18.75,0
8,2000/01/14,18.28,18.80,19.10,40871.00,76201248,18.34,0
9,2000/01/17,18.08,18.36,19.05,30272.00,56388926,18.80,0
10,2000/01/18,17.99,18.90,18.95,31597.00,58048892,18.01,0
11,2000/01/19,18.01,18.05,18.89,20689.00,38383796,18.44,0
12,2000/01/20,18.25,18.40,19.50,36295.00,68888192,19.02,0
13,2000/01/21,18.85,19.10,20.00,56708.00,110425856,19.20,0
14,2000/01/24,18.78,19.12,19.70,32965.00,62967416,19.18,0
15,2000/01/25,18.82,19.20,19.52,24913.00,47603552,18.94,0
16,2000/01/26,18.55,19.00,19.25,18205.00,34041304,18.68,0
17,2000/01/27,18.63,18.63,19.60,28118.00,53918822,19.17,0
18,2000/01/28,18.98,19.22,20.68,78153.00,155758197,19.95,0
19,2000/02/14,20.60,21.00,21.96,99954.00,216188704,21.96,0
20,2000/02/15,21.00,22.50,23.90,175558.00,395784192,21.60,1
21,2000/02/16,20.55,21.60,22.20,87430.00,186229696,21.00,1
22,2000/02/17,19.10,21.00,21.90,103670.00,209824064,19.32,1
23,2000/02/18,19.00,19.08,19.99,38464.00,75335245,19.78,1
24,2000/02/21,19.40,19.82,21.76,98648.00,205462279,21.00,1
25,2000/02/22,19.59,21.00,21.20,47456.00,96424148,19.73,1
26,2000/02/23,19.50,19.70,19.98,26452.00,51981802,19.65,1
27,2000/02/24,19.68,19.68,20.50,21304.00,42772180,20.10,1
28,2000/02/25,19.68,20.18,20.20,20657.00,41052850,19.78,1
29,2000/02/28,19.50,19.84,21.20,50225.00,101719249,20.70,1
...,...,...,...,...,...,...,...,...
2081,2008/11/20,9.11,9.11,9.52,261826.69,243487952,9.28,104
2082,2008/11/21,8.70,9.00,9.32,111663.94,99821944,9.00,104
2083,2008/11/24,8.72,8.90,9.29,61572.01,55312660,8.81,104
2084,2008/11/25,8.53,8.91,9.02,39573.63,34749468,8.85,104
2085,2008/11/26,8.55,8.73,8.82,28150.17,24382468,8.68,104
2086,2008/11/27,8.84,9.28,9.40,127847.24,116520880,8.98,104
2087,2008/11/28,8.83,8.84,9.05,46055.02,41238044,8.96,104
2088,2008/12/01,9.10,9.30,9.65,200560.22,186534480,9.27,104
2089,2008/12/02,9.00,9.05,9.95,339371.75,325541248,9.65,104
2090,2008/12/03,9.55,9.67,10.09,213510.60,211454432,9.96,104
2091,2008/12/04,9.95,10.16,10.36,217656.78,222052832,10.00,104
2092,2008/12/05,9.84,9.89,10.20,74760.52,75152392,10.10,104
2093,2008/12/08,10.11,10.12,10.50,114675.59,118027704,10.34,104
2094,2008/12/09,9.88,10.39,10.39,96678.86,97391256,9.89,104
2095,2008/12/10,9.79,9.87,10.06,58778.73,58497320,10.02,104
2096,2008/12/11,9.74,10.07,10.30,73854.71,74107248,9.75,104
2097,2008/12/12,9.33,9.55,9.74,66503.49,62917096,9.42,104
2098,2008/12/15,9.30,9.48,9.60,70106.91,66090788,9.49,104
2099,2008/12/16,9.28,9.38,9.92,95527.06,92225960,9.85,104
2100,2008/12/17,9.75,9.87,10.01,44017.10,43578120,9.77,105
2101,2008/12/18,9.63,9.80,9.89,32002.73,31248876,9.80,105
2102,2008/12/19,9.81,9.81,10.01,47615.19,47327292,9.95,105
2103,2008/12/22,9.49,9.90,9.98,93851.44,90804024,9.60,105
2104,2008/12/23,9.07,9.68,9.68,70640.21,66358436,9.07,105
2105,2008/12/24,8.96,9.03,9.26,48851.65,44697400,9.14,105
2106,2008/12/25,9.10,9.30,9.54,79473.08,74469400,9.14,105
2107,2008/12/26,8.97,9.15,9.23,35093.86,31741640,9.08,105
2108,2008/12/29,8.73,9.04,9.15,38576.07,34625144,9.11,105
2109,2008/12/30,8.95,9.14,9.14,62983.38,56876600,8.96,105
2110,2008/12/31,8.95,9.00,9.11,32829.30,29620508,8.99,105

In [10]:
# 根据索引分组计算
qdhr_group = qdhr.groupby('group_index').agg({'date': 'first', 'volume': 'sum', 'floor_price': 'min', 'ceiling_price': 'max'})
qdhr_group.head()

                   date      volume  ceiling_price  floor_price
group_index
0            2000/01/04  1371665.00          22.33        16.21
1            2000/02/15  2996811.02          27.20        19.00
2            2000/03/14   905659.24          24.10        20.08
3            2000/04/11   414194.92          23.49        20.10
4            2000/05/16   295170.08          23.36        20.15

In [11]:
# 添加我们的波动指标 股票波动系数 = 最高价/最低价
qdhr_group['ripples_radio'] = qdhr_group.ceiling_price / qdhr_group.floor_price
qdhr_group.head()

                   date      volume  ceiling_price  floor_price  ripples_radio
group_index
0            2000/01/04  1371665.00          22.33        16.21       1.377545
1            2000/02/15  2996811.02          27.20        19.00       1.431579
2            2000/03/14   905659.24          24.10        20.08       1.200199
3            2000/04/11   414194.92          23.49        20.10       1.168657
4            2000/05/16   295170.08          23.36        20.15       1.159305

In [12]:
# 降序排列。我们把分组的起始日期，交易量总和都列出来，也可以观察一下交易量和股票波动比的关系
qdhr_ripples = qdhr_group.sort_values('ripples_radio', ascending=False)
qdhr_ripples.head()

                   date      volume  ceiling_price  floor_price  ripples_radio
group_index
81           2006/12/20  4357087.54          11.37         6.90       1.647826
98           2008/05/21  1388115.89          13.47         8.21       1.640682
53           2004/06/30   223884.55           8.96         5.50       1.629091
95           2008/02/21  1542367.18          23.23        14.34       1.619944
97           2008/04/18  4551911.34          14.85         9.18       1.617647

In [13]:
# 国内股票市场没有做空机制，所以如果波动的股票是先出现高价格，再出现低价格，这样的波动我们应该过滤掉。
# 我们应该只关注一个分组周期内，先出现低价，再出现高价的波动，即上涨趋势的波动。这些才是有效波动。
# 另外一个我们过滤掉下跌波动的原因是，股票经常会进行除权。而目前我们又没有足够的数据去处理除权。

def is_valid_ripples(group):
    """ filter out invalid ripples """
    id_of_floor_price = group['floor_price'].idxmin()
    id_of_ceiling_price = group['floor_price'].idxmax()
    return id_of_ceiling_price > id_of_floor_price

qdhr_valid = qdhr.groupby('group_index').filter(is_valid_ripples)
# 从过滤的结果可以看出来，原来有 2111 行数据，过滤完只剩下 1000 行了
qdhr_valid

,date,floor_price,opening_price,ceiling_price,volume,amount,closing_price,group_index
0,2000/01/04,16.21,16.31,17.30,17050.00,28651788,17.08,0
1,2000/01/05,16.71,17.10,17.39,17486.00,29893382,16.75,0
2,2000/01/06,16.62,16.72,18.45,41268.00,74191124,18.45,0
3,2000/01/07,18.45,18.45,20.30,187321.00,379826144,20.30,0
4,2000/01/10,20.30,20.30,22.33,317307.00,695940608,21.65,0
5,2000/01/11,20.18,21.70,21.70,108273.00,225728608,20.36,0
6,2000/01/12,19.52,20.20,20.66,120790.00,241688948,19.77,0
7,2000/01/13,18.66,19.80,19.99,63430.00,122255604,18.75,0
8,2000/01/14,18.28,18.80,19.10,40871.00,76201248,18.34,0
9,2000/01/17,18.08,18.36,19.05,30272.00,56388926,18.80,0
10,2000/01/18,17.99,18.90,18.95,31597.00,58048892,18.01,0
11,2000/01/19,18.01,18.05,18.89,20689.00,38383796,18.44,0
12,2000/01/20,18.25,18.40,19.50,36295.00,68888192,19.02,0
13,2000/01/21,18.85,19.10,20.00,56708.00,110425856,19.20,0
14,2000/01/24,18.78,19.12,19.70,32965.00,62967416,19.18,0
15,2000/01/25,18.82,19.20,19.52,24913.00,47603552,18.94,0
16,2000/01/26,18.55,19.00,19.25,18205.00,34041304,18.68,0
17,2000/01/27,18.63,18.63,19.60,28118.00,53918822,19.17,0
18,2000/01/28,18.98,19.22,20.68,78153.00,155758197,19.95,0
19,2000/02/14,20.60,21.00,21.96,99954.00,216188704,21.96,0
20,2000/02/15,21.00,22.50,23.90,175558.00,395784192,21.60,1
21,2000/02/16,20.55,21.60,22.20,87430.00,186229696,21.00,1
22,2000/02/17,19.10,21.00,21.90,103670.00,209824064,19.32,1
23,2000/02/18,19.00,19.08,19.99,38464.00,75335245,19.78,1
24,2000/02/21,19.40,19.82,21.76,98648.00,205462279,21.00,1
25,2000/02/22,19.59,21.00,21.20,47456.00,96424148,19.73,1
26,2000/02/23,19.50,19.70,19.98,26452.00,51981802,19.65,1
27,2000/02/24,19.68,19.68,20.50,21304.00,42772180,20.10,1
28,2000/02/25,19.68,20.18,20.20,20657.00,41052850,19.78,1
29,2000/02/28,19.50,19.84,21.20,50225.00,101719249,20.70,1
...,...,...,...,...,...,...,...,...
2070,2008/11/05,7.89,7.95,8.17,23363.51,18782740,8.00,103
2071,2008/11/06,7.68,7.85,7.91,25838.30,20153648,7.81,103
2072,2008/11/07,7.65,7.69,8.00,20934.06,16527780,7.91,103
2073,2008/11/10,8.03,8.03,8.45,65724.40,54171964,8.41,103
2074,2008/11/11,8.21,8.34,8.65,56166.98,47489816,8.38,103
2075,2008/11/12,8.18,8.26,8.49,66025.75,55058740,8.40,103
2076,2008/11/13,8.26,8.30,8.80,60065.65,51471492,8.70,103
2077,2008/11/14,8.64,8.80,9.10,74903.33,66443220,9.00,103
2078,2008/11/17,8.74,8.88,9.18,133726.27,118706344,9.09,103
2079,2008/11/18,8.20,8.94,8.99,81255.61,70431696,8.20,103
2080,2008/11/19,8.20,8.20,8.79,49864.64,42522504,8.69,104
2081,2008/11/20,9.11,9.11,9.52,261826.69,243487952,9.28,104
2082,2008/11/21,8.70,9.00,9.32,111663.94,99821944,9.00,104
2083,2008/11/24,8.72,8.90,9.29,61572.01,55312660,8.81,104
2084,2008/11/25,8.53,8.91,9.02,39573.63,34749468,8.85,104
2085,2008/11/26,8.55,8.73,8.82,28150.17,24382468,8.68,104
2086,2008/11/27,8.84,9.28,9.40,127847.24,116520880,8.98,104
2087,2008/11/28,8.83,8.84,9.05,46055.02,41238044,8.96,104
2088,2008/12/01,9.10,9.30,9.65,200560.22,186534480,9.27,104
2089,2008/12/02,9.00,9.05,9.95,339371.75,325541248,9.65,104
2090,2008/12/03,9.55,9.67,10.09,213510.60,211454432,9.96,104
2091,2008/12/04,9.95,10.16,10.36,217656.78,222052832,10.00,104
2092,2008/12/05,9.84,9.89,10.20,74760.52,75152392,10.10,104
2093,2008/12/08,10.11,10.12,10.50,114675.59,118027704,10.34,104
2094,2008/12/09,9.88,10.39,10.39,96678.86,97391256,9.89,104
2095,2008/12/10,9.79,9.87,10.06,58778.73,58497320,10.02,104
2096,2008/12/11,9.74,10.07,10.30,73854.71,74107248,9.75,104
2097,2008/12/12,9.33,9.55,9.74,66503.49,62917096,9.42,104
2098,2008/12/15,9.30,9.48,9.60,70106.91,66090788,9.49,104
2099,2008/12/16,9.28,9.38,9.92,95527.06,92225960,9.85,104

In [14]:
# 针对有效的数据，按日期分组，计算波动，排序。可以看到有效波动，即最大的上涨的波动的 5 个数据
qdhr_group_valid = qdhr_valid.groupby('group_index').agg({'date': 'first', 'volume': 'sum', 'floor_price': 'min', 'ceiling_price': 'max'})
qdhr_group_valid['ripples_radio'] = qdhr_group_valid.ceiling_price / qdhr_group_valid.floor_price
qdhr_ripples_valid = qdhr_group_valid.sort_values('ripples_radio', ascending=False)
qdhr_ripples_valid.head()

                   date      volume  ceiling_price  floor_price  ripples_radio
group_index
81           2006/12/20  4357087.54          11.37         6.90       1.647826
97           2008/04/18  4551911.34          14.85         9.18       1.617647
86           2007/05/28  5703121.25          18.89        11.85       1.594093
1            2000/02/15  2996811.02          27.20        19.00       1.431579
0            2000/01/04  1371665.00          22.33        16.21       1.377545

In [15]:
# 把所有的波动和上面有效的波动数据对比
qdhr_ripples.head()

                   date      volume  ceiling_price  floor_price  ripples_radio
group_index
81           2006/12/20  4357087.54          11.37         6.90       1.647826
98           2008/05/21  1388115.89          13.47         8.21       1.640682
53           2004/06/30   223884.55           8.96         5.50       1.629091
95           2008/02/21  1542367.18          23.23        14.34       1.619944
97           2008/04/18  4551911.34          14.85         9.18       1.617647

In [16]:
# 我们算出前 10 个有效波动，即上涨波动的平均值。作为这个股票的波动值。
# 最后，我们就可以根据所有股票的波动值来选择最优的股票了。
qdhr_ripples_valid.head(10).ripples_radio.mean()

1.4261320425918829

## 使用 stock.py 来过滤数据

In [17]:
import stock as st

In [226]:
ripples = st.get_stock_ripples('data/SZ000564.csv', period=20)

mean ripples range on top 10 in period of 20 for data/SZ000564.csv: 7.9405

In [243]:
# 显示指定周期内，股票的前十个波动周期
ripples.head(10)

                   date      volume  ceiling_price  floor_price  ripples_radio
group_index
22           2001/11/12   118590.77         503.38         7.50      67.117333
85           2007/03/27  3949438.83           8.50         5.82       1.460481
83           2007/01/23  2205300.93           5.36         3.69       1.452575
74           2006/04/26  1832939.11           3.40         2.35       1.446809
1            2000/02/15  1437101.24          11.68         8.60       1.358140
86           2007/04/25  4444983.04          10.60         7.95       1.333333
82           2006/12/21  2693370.92           4.35         3.28       1.326220
84           2007/02/27  2468582.33           6.10         4.60       1.326087
24           2002/01/11   176207.17           7.30         5.65       1.292035
67           2005/08/25  1069056.77           3.72         2.88       1.291667

In [255]:
# 有时候，我们想看一下某个股票某个波动周期下的原始数据
reload(st)
stock_file = 'test-data/SH600691.csv'
st.ripple_raw_data(stock_file, ripple_idx=0, days=30)

mean ripples range on top 10 in period of 20 for test-data/SH600691.csv: 1.6287

,floor_price,opening_price,ceiling_price,volume,amount,closing_price
date,,,,,,
2007-01-12,4.25,4.28,4.39,7546.14,3265550,4.35
2007-01-15,4.30,4.35,4.43,8827.59,3857417,4.41
2007-01-16,4.40,4.40,4.63,8975.07,4072200,4.63
2007-01-17,4.61,4.61,4.86,12056.67,5832008,4.86
2007-01-18,4.81,4.91,5.09,20179.03,9933153,4.99

In [218]:
def _valid_price(g):
    return (((g.max() - g.min()) / g.min()) < 0.223).all()

l = [0.9, 1.1, 0.9, 1.1, 0.9, 1.1]
_valid_price(pd.Series(l))

True

In [180]:
names = ['date',
         'time',
         'opening_price',
         'ceiling_price',
         'floor_price',
         'closing_price',
         'volume',
         'amount']
data = pd.read_csv('test-raw/2008/SZ161607.csv', names=names, header=None, index_col='date', parse_dates=True)
data.head(48)

,time,opening_price,ceiling_price,floor_price,closing_price,volume,amount
date,,,,,,,
2008-01-02,09:35,1.789,1.794,1.780,1.780,27480,49185.32
2008-01-02,09:40,1.780,1.780,1.775,1.779,23600,41927.40
2008-01-02,09:45,1.779,1.779,1.770,1.770,31900,56622.00
2008-01-02,09:50,1.770,1.770,1.757,1.757,60500,106457.70
2008-01-02,09:55,1.757,1.770,1.757,1.770,47000,82682.98
2008-01-02,10:00,1.760,1.771,1.760,1.771,60472,107038.91
2008-01-02,10:05,1.771,1.771,1.771,1.771,18424,32628.91
2008-01-02,10:10,1.771,1.774,1.771,1.774,9700,17207.78
2008-01-02,10:15,1.774,1.775,1.774,1.775,46000,81624.63
2008-01-02,10:20,1.774,1.778,1.774,1.778,22673,40246.88
2008-01-02,10:25,1.778,1.779,1.775,1.779,28200,50130.56
2008-01-02,10:30,1.779,1.780,1.779,1.780,103300,183870.00
2008-01-02,10:35,1.787,1.787,1.781,1.781,88300,157732.69
2008-01-02,10:40,1.781,1.781,1.779,1.780,12100,21530.31
2008-01-02,10:45,1.778,1.778,1.778,1.778,3000,5334.00
2008-01-02,10:50,1.778,1.778,1.771,1.771,8600,15260.56
2008-01-02,10:55,1.771,1.777,1.771,1.777,9000,15993.00
2008-01-02,11:00,1.777,1.777,1.776,1.776,45542,80885.75
2008-01-02,11:05,1.776,1.777,1.775,1.775,14658,26035.50
2008-01-02,11:10,1.775,1.776,1.773,1.775,61917,109918.13
2008-01-02,11:15,1.775,1.775,1.775,1.775,64800,115020.00
2008-01-02,11:20,1.775,1.777,1.775,1.776,4300,7640.75
2008-01-02,11:25,1.777,1.777,1.776,1.777,27170,48273.13
2008-01-02,11:30,1.777,1.780,1.777,1.780,44000,78270.63
2008-01-02,13:05,1.780,1.781,1.777,1.781,27800,49497.75
2008-01-02,13:10,1.781,1.781,1.780,1.780,15200,27070.25
2008-01-02,13:15,1.780,1.780,1.779,1.780,54900,97719.00
2008-01-02,13:20,1.780,1.784,1.780,1.780,18500,32980.00
2008-01-02,13:25,1.780,1.783,1.780,1.783,39300,69993.50
2008-01-02,13:30,1.781,1.781,1.780,1.780,45700,81351.38
2008-01-02,13:35,1.780,1.780,1.778,1.780,100100,178175.13
2008-01-02,13:40,1.778,1.778,1.776,1.777,67500,119973.75
2008-01-02,13:45,1.777,1.778,1.776,1.778,101800,180985.00
2008-01-02,13:50,1.776,1.778,1.776,1.778,11610,20639.75
2008-01-02,13:55,1.780,1.780,1.778,1.780,62000,110317.00
2008-01-02,14:00,1.780,1.780,1.779,1.780,21344,37977.50
2008-01-02,14:05,1.781,1.781,1.780,1.781,16400,29204.25
2008-01-02,14:10,1.782,1.786,1.782,1.786,106200,189391.50
2008-01-02,14:15,1.788,1.788,1.785,1.785,29400,52557.50
2008-01-02,14:20,1.785,1.785,1.784,1.784,32000,57098.00
2008-01-02,14:25,1.784,1.784,1.784,1.784,700,1248.75
2008-01-02,14:30,1.782,1.783,1.780,1.780,57600,102621.25
2008-01-02,14:35,1.780,1.780,1.779,1.780,18000,32036.50
2008-01-02,14:40,1.780,1.782,1.780,1.782,24400,43467.25
2008-01-02,14:45,1.782,1.782,1.781,1.781,40200,71628.00
2008-01-02,14:50,1.781,1.783,1.781,1.783,42700,76131.50
2008-01-02,14:55,1.782,1.783,1.781,1.781,61300,109220.50
2008-01-02,15:00,1.782,1.783,1.782,1.782,188900,336703.50

In [230]:
# 股票涨跌幅检查，不能超过 10%
def _valid_price(g):
    return (((g.max() - g.min()) / g.min()) < 0.223).all()

days = data.groupby(level=0).agg(
                                {'opening_price': lambda g: _valid_price(g) and g[0] or 0,
                                 'ceiling_price': lambda g: _valid_price(g) and np.max(g) or 0,
                                 'floor_price': lambda g: _valid_price(g) and np.min(g) or 0,
                                 'closing_price': lambda g: _valid_price(g) and g[-1] or 0,
                                 'volume': 'sum',
                                 'amount': 'sum'})
days.loc['2008-11-19']

floor_price      0.000000e+00
opening_price    0.000000e+00
ceiling_price    0.000000e+00
volume           5.939168e+09
amount           6.021043e+32
closing_price    0.000000e+00
Name: 2008-11-19 00:00:00, dtype: float64