# 股票交易数据分析

In [1]:
%pwd

u'/Users/kamidox/work/stock-data'

In [3]:
import pandas as pd
import numpy as np

## 原始数据: 2000 年 - 2009 年 5 分钟历史成交数据

需要确保原始数据放在 raw 目录下，且每个年份单独一个目录。搜索 ghancn 可以免费下载 2009 年之前的数据。2009 年之后的需要购买。

In [5]:
d = pd.read_csv('raw/2008/SH600300.csv', names=['date','time','opening_price', 'ceiling_price', 'floor_price', 'closing_price', 'volume', 'amount'], header=None)

In [6]:
d.head()

,date,time,opening_price,ceiling_price,floor_price,closing_price,volume,amount
0,2008/01/02,09:35,9.89,9.90,9.76,9.77,3223.00,3174676
1,2008/01/02,09:40,9.77,9.84,9.75,9.79,2037.50,1992715
2,2008/01/02,09:45,9.78,9.82,9.78,9.79,1227.99,1203187
3,2008/01/02,09:50,9.80,9.85,9.79,9.85,1137.00,1115308
4,2008/01/02,09:55,9.84,9.95,9.84,9.94,1422.97,1405492

### 转化为日交易数据

In [7]:
g = d.groupby('date')

In [8]:
day = g.agg({'opening_price': 'first', 'ceiling_price': 'max', 'floor_price': 'min', 'closing_price': 'last', 'volume': 'sum', 'amount': 'sum'})

In [9]:
day.head()

,floor_price,opening_price,ceiling_price,volume,amount,closing_price
date,,,,,,
2008/01/02,9.75,9.89,10.31,87545.17,88759296,10.22
2008/01/03,10.22,10.31,10.88,151147.35,159856480,10.58
2008/01/04,10.28,10.58,10.76,81476.55,85745624,10.58
2008/01/07,10.45,10.48,11.09,130950.71,141612400,10.98
2008/01/08,10.30,10.95,11.00,116279.70,124193984,10.42

### 合并数据

可以参阅 stock.py 里的 `main()` 函数。把所有的数据转化为日交易数据，然后以股票代号为文件名保存在 `data` 目录下。

## 选股

什么股票是好股票？要回答这个问题，先要把最简单的问题说清楚。炒股就是低买高卖，实现获利。那么好股票的标准就是在你的习惯持股周期内，**波动最大的股票**。这很好理解吧，波动最大，我们才有可能在相对低点买入，在相对高点卖出，获利最大。

在一定的时间周期内，**衡量股票波动的指标定义为 最高价/最低价**。以我们表格中的数据，就是 ceiling_price/floor_price。这个比率最大的股票就是好股票。

关于时间周期，这个和个人的炒股习惯有关。有些人习惯做短线，可能就持股几天，或一两周。有些人习惯做长线，可能持股时长以年计算。这个完全是个人喜好问题。

有了这个思路，我们就可以玩转已经转换为日交易数据的股票，选出近期波动最大的股票。假设我们的目标是**选出一个月内波动最大的股票**。我们看一下如何用 pandas 实现这个目标。

### 过滤数据

我们先要按照考查周期来过滤数据。为了简单起见，我们假设一个月是20个交易日，且只计算交易时间，不计算停牌时间。

这里，我们直接使用青岛海尔 600690 这个股票来作为示例。我们直接读取已经合并过的数据。

In [16]:
qdhr = pd.read_csv('data/SH600300.csv')
qdhr.head()

,date,floor_price,opening_price,ceiling_price,volume,amount,closing_price
0,2000/06/30,17.33,19.99,19.99,233276,417574342,17.49
1,2000/07/03,16.45,17.46,17.46,35143,58341800,16.45
2,2000/07/04,16.46,16.48,16.99,12750,21253362,16.70
3,2000/07/05,16.45,16.70,16.71,9394,15512318,16.50
4,2000/07/06,16.00,16.40,16.50,13252,21535452,16.34

In [17]:
len(qdhr)

1997

In [32]:
import numpy as np

# 定义产生分组索引的函数
def gen_item_group_index(total, group_len):
    """ generate an item group index array 
    
    suppose total = 10, unitlen = 2, then we will return array [0 0 1 1 2 2 3 3 4 4]
    """
    
    group_count = total / group_len
    group_index = np.arange(total)
    for i in range(group_count):
        group_index[i * group_len: (i + 1) * group_len] = i
    group_index[(i + 1) * group_len : total] = i + 1
    return group_index.tolist()

gen_item_group_index(10, 3)

[0, 0, 0, 1, 1, 1, 2, 2, 2, 3]

In [50]:
group_len = 60

group_index = gen_item_group_index(len(qdhr), group_len)
# 把分组索引数据添加到股票数据里
qdhr['group_index'] = group_index
qdhr

,date,floor_price,opening_price,ceiling_price,volume,amount,closing_price,group_index
0,2000/06/30,17.33,19.99,19.99,233276.00,417574342,17.49,0
1,2000/07/03,16.45,17.46,17.46,35143.00,58341800,16.45,0
2,2000/07/04,16.46,16.48,16.99,12750.00,21253362,16.70,0
3,2000/07/05,16.45,16.70,16.71,9394.00,15512318,16.50,0
4,2000/07/06,16.00,16.40,16.50,13252.00,21535452,16.34,0
5,2000/07/07,16.09,16.36,16.50,9586.00,15617373,16.25,0
6,2000/07/10,16.22,16.27,16.41,9473.51,15438039,16.31,0
7,2000/07/11,16.28,16.33,16.58,7181.00,11761194,16.45,0
8,2000/07/12,16.31,16.38,16.97,14122.00,23457970,16.77,0
9,2000/07/13,16.62,16.78,16.98,13448.00,22619470,16.89,0
10,2000/07/14,16.85,16.92,17.30,13350.58,22773544,16.90,0
11,2000/07/17,16.58,17.15,17.15,6964.00,11667664,16.62,0
12,2000/07/18,16.50,16.60,17.00,7131.00,11965306,17.00,0
13,2000/07/19,16.71,17.01,17.01,4334.00,7314064,16.84,0
14,2000/07/20,16.60,16.82,16.82,4961.00,8268002,16.69,0
15,2000/07/21,16.60,16.69,16.70,3843.00,6395265,16.65,0
16,2000/07/24,16.61,16.68,16.80,3788.27,6331859,16.74,0
17,2000/07/25,16.51,16.74,16.74,4604.25,7633276,16.58,0
18,2000/07/26,16.45,16.58,16.70,2920.00,4833660,16.50,0
19,2000/07/27,16.42,16.51,16.75,7079.00,11720061,16.70,0
20,2000/07/28,16.66,17.00,17.00,6083.00,10252646,16.81,0
21,2000/07/31,16.50,16.81,16.85,4986.00,8309353,16.68,0
22,2000/08/01,16.58,16.68,16.79,3954.50,6589782,16.58,0
23,2000/08/02,16.46,16.59,16.70,3066.00,5087897,16.59,0
24,2000/08/03,16.51,16.58,16.70,5919.00,9819800,16.58,0
25,2000/08/04,16.48,16.55,16.65,6716.00,11110381,16.57,0
26,2000/08/07,16.57,16.57,16.57,0.00,0,16.57,0
27,2000/08/08,16.65,16.79,17.05,8057.34,13597041,16.91,0
28,2000/08/09,16.80,16.91,17.10,11126.00,18892146,17.00,0
29,2000/08/10,16.75,17.00,17.05,9111.00,15432713,16.97,0
...,...,...,...,...,...,...,...,...
1967,2008/11/19,3.75,3.80,4.21,150238.15,60647352,4.14,32
1968,2008/11/20,3.96,4.10,4.33,117033.31,48705112,4.23,32
1969,2008/11/21,3.91,4.09,4.25,95443.33,38985008,4.09,32
1970,2008/11/24,3.92,4.11,4.15,65601.16,26504912,3.93,32
1971,2008/11/25,3.65,4.00,4.02,64640.89,24779638,3.86,32
1972,2008/11/26,3.74,3.81,3.91,27218.98,10408835,3.82,32
1973,2008/11/27,3.85,4.05,4.08,83815.68,33073704,3.88,32
1974,2008/11/28,3.81,3.81,4.05,68657.31,27233542,3.96,32
1975,2008/12/01,3.87,3.92,4.17,74490.00,30028352,4.16,32
1976,2008/12/02,4.03,4.06,4.35,108183.26,45251140,4.14,32
1977,2008/12/03,4.13,4.13,4.32,98701.86,41811196,4.26,32
1978,2008/12/04,4.15,4.29,4.41,135832.48,58384512,4.20,32
1979,2008/12/05,4.14,4.23,4.59,159167.64,69120168,4.51,32
1980,2008/12/08,4.47,4.53,4.92,201799.81,95797192,4.88,33
1981,2008/12/09,4.56,4.83,4.83,108555.54,50769220,4.72,33
1982,2008/12/10,4.60,4.73,4.82,95321.46,45027240,4.80,33
1983,2008/12/11,4.50,4.77,4.88,89255.21,42265400,4.54,33
1984,2008/12/12,4.45,4.47,4.66,106507.56,48305376,4.58,33
1985,2008/12/15,4.50,4.63,4.70,63350.63,29234646,4.65,33
1986,2008/12/16,4.50,4.65,4.93,128850.16,61306676,4.92,33
1987,2008/12/17,4.83,4.95,5.04,112978.67,55581228,4.95,33
1988,2008/12/18,4.86,4.94,5.15,100861.50,50287808,5.05,33
1989,2008/12/22,5.00,5.03,5.19,123986.96,63251744,5.10,33
1990,2008/12/23,4.68,5.13,5.17,108480.51,53205892,4.89,33
1991,2008/12/24,4.66,4.72,5.03,89854.50,43790692,4.97,33
1992,2008/12/25,4.80,4.96,4.98,64990.69,31815256,4.91,33
1993,2008/12/26,4.73,4.93,5.15,103142.53,51308896,5.05,33
1994,2008/12/29,4.96,5.00,5.33,124439.15,64596576,5.32,33
1995,2008/12/30,5.12,5.30,5.36,84513.40,44251408,5.27,33
1996,2008/12/31,5.02,5.23,5.34,139046.05,72230816,5.27,33

In [51]:
# 根据索引分组计算
qdhr_group = qdhr.groupby('group_index').agg({'date': 'first', 'volume': 'sum', 'floor_price': 'min', 'ceiling_price': 'max'})
qdhr_group

                   date       volume  ceiling_price  floor_price
group_index
0            2000/06/30    662932.36          19.99        16.00
1            2000/09/22    294857.32          18.88        16.60
2            2000/12/22    433175.77          18.09        15.00
3            2001/04/02    919915.95          17.88        15.80
4            2001/07/03    217256.10          17.45        14.53
5            2001/09/25    214451.91          15.00        11.60
6            2001/12/25    369568.77          13.30         9.60
7            2002/04/05    253677.58          13.75        11.08
8            2002/07/08    123341.39          13.96        12.72
9            2002/10/09     66280.85          13.72        10.18
10           2003/01/02    148905.17          11.52         9.97
11           2003/04/07    211423.79          12.80        10.01
12           2003/07/11     81838.23          10.84         9.25
13           2003/10/13    114958.43           9.80         7.68
14           2004/01/06    456114.12          10.34         7.82
15           2004/04/09    125328.98           9.79         7.31
16           2004/07/12    325334.36           7.60         6.01
17           2004/10/12    306964.97           7.59         6.21
18           2005/01/05    418518.59           6.71         5.31
19           2005/04/08    548775.93           7.06         5.80
20           2005/07/11   1498184.12           3.56         2.55
21           2005/10/12   2035072.61           3.42         2.48
22           2006/03/07   4558047.52           4.13         2.58
23           2006/06/07   3754654.40           4.25         3.27
24           2006/08/30   3093699.92           4.01         3.44
25           2006/11/30  12446688.62           7.97         3.72
26           2007/03/06  14718613.80          13.26         6.66
27           2007/06/12   9630604.61          11.18         7.30
28           2007/09/05   4484248.99          11.50         7.80
29           2007/12/05   5474689.57          11.70         8.06
30           2008/03/07   3109331.03          10.74         5.60
31           2008/06/06   2042896.94           6.84         3.79
32           2008/09/04   5932751.04           5.32         3.12
33           2008/12/08   1845934.33           5.36         4.45

In [54]:
# 添加我们的波动指标 股票波动系数 = 最高价/最低价
qdhr_group['ripples_radio'] = qdhr_group.ceiling_price / qdhr_group.floor_price
qdhr_group.head()

                   date     volume  ceiling_price  floor_price  ripples_radio
group_index
0            2000/06/30  662932.36          19.99        16.00       1.249375
1            2000/09/22  294857.32          18.88        16.60       1.137349
2            2000/12/22  433175.77          18.09        15.00       1.206000
3            2001/04/02  919915.95          17.88        15.80       1.131646
4            2001/07/03  217256.10          17.45        14.53       1.200964

In [55]:
# 降序排列。我们把分组的起始日期，交易量总和都列出来，也可以观察一下交易量和股票波动比的关系
qdhr_group.sort_values('ripples_radio', ascending=False).head()

,date,volume,ceiling_price,floor_price,ripples_radio
group_index,,,,,
25,2006/11/30,12446688.62,7.97,3.72,2.142473
26,2007/03/06,14718613.80,13.26,6.66,1.990991
30,2008/03/07,3109331.03,10.74,5.60,1.917857
31,2008/06/06,2042896.94,6.84,3.79,1.804749
32,2008/09/04,5932751.04,5.32,3.12,1.705128